.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    
    background: url("./Assets/img/batman.jpg")  ;
    background-repeat: no-repeat;

    background-size: cover;
    position:absolute
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:whitesmoke
  }
  
  /* If you want the content centered horizontally and vertically */
