* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Bangers', cursive;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* background */
.bg {
  background-image: url("images/test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: stretch;
  background-color: black;
} 

h1 {
  font-size: 50px;
}

h2 {
  padding: 10px 0px 0px 0px;
  margin: 0px;
}

h2, h3, h4{
  font-size: 24px;
}
/* button(s) styling */
button, input[type="text"] {
  padding: 5px;
  border-radius: 25px;
}

button:hover {
  cursor: pointer;
}

.button {
  margin: 10px;
  font-family: 'Bangers', cursive;
  color: black;
  font-size: 18px;
  width: 100px;
  border-radius: 25px;
  border-width: 1px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.teamButton{
  width: 150px;   
  margin: 0 auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

li {
  padding: 5px;
}

footer {
  text-align: center;
  color: black;
  padding: 10px;
}

/* image syling */
.results-img {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 75%;
  border: 6px solid white;
}

/* syling of power stats list(s)*/
.powerStats {
  padding: 10px;
  margin: 0px;
}

/* syling for character real name */
.realName {
  font-size: 20px;
}

/* error message syling  */
.error-message {
    color: red;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    letter-spacing: 2px;
}

.superTeams {
  font-size: 20px;
  display: inline;
}

/* hide class */
.hidden {
  display: none;
}

.enterName{
  font-size: 20px;
}

/* flex box */
.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

@media all and (min-width: 600px){
  .group{
    flex-direction: row;
    justify-content: center;
  }
}
